# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment / virtualenv
env/
venv/
ENV/
.venv/
Day5/
Lib/
Include/
Scripts/
etc/
share/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db

# Streamlit and local state
.env

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Others
.DS_Store
thumbs.db
